@font-face {
  font-family: 'Raleway-Regular';
  src: url('../fonts/Raleway-Regular.ttf');
}
* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1900px;
  padding: 0;
}
.container-fluid {
  max-width: 1900px;
  padding: 0;
}
h2 {
  font-size: 10px;
}
p {
  font-size: 10px;
}
/*styles for start section*/
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #66697e;
}
header .logo {
  padding: 30px 0 ;
}
header .navs {
  padding: 30px 0;
  font-family: 'Raleway-Regular', sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
header .navs a {
  color: #a1a2ae;
}
.start_section {
  background-image: url(../img/firstbackgroundimage.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 365px;
}
.start_section .drop_mob {
  display: none;
}
@media (max-width: 1400px) {
  .start_section {
    padding: 0 180px;
  }
}
@media (max-width: 1100px) {
  .start_section {
    padding: 0 50px;
  }
}
@media (max-width: 768px) {
  .start_section {
    padding: 0 20px;
  }
}
@media (max-width: 700px) {
  .start_section .navs {
    display: none;
  }
  .start_section .drop_mob {
    display: block;
    padding: 15px;
    margin: 5px;
    border-radius: 0;
    text-transform: uppercase;
    color: #66697e;
    background-color: transparent;
    border-color: transparent;
    font-size: 30px;
    border: none;
  }
  .start_section .dropa {
    left: -100px;
    border: none;
    padding: 0;
  }
}
.head_text {
  padding: 156px 0;
  text-align: center;
}
.head_text h2 {
  font-family: 'Open-Sans', sans-serif;
  font-weight: bold;
  font-size: 4.8rem;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media (max-width: 1400px) {
  .head_text h2 {
    font-size: 3rem;
  }
}
@media (max-width: 1100px) {
  .head_text h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  .head_text h2 {
    font-size: 2rem;
  }
}
.head_text p {
  font-family: 'Raleway-Regular', sans-serif;
  font-size: 1.5rem;
  color: #f1f1f3;
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  .head_text p {
    font-size: 1rem;
  }
}
.head_text .btn_find {
  height: 48px;
  width: 200px;
  color: #f1f1f3;
  background-color: #e84545;
  border-color: #e84545;
  text-transform: uppercase;
}
@media (max-width: 1400px) {
  .head_text {
    padding: 180px 0;
  }
}
@media (max-width: 1100px) {
  .head_text {
    padding: 100px 0;
  }
}
@media (max-width: 768px) {
  .head_text {
    padding: 70px 0;
  }
}
.btn_find:active {
  background-color: #e84545;
  border-color: #e84545;
}
/* styles for features section*/
.features_section {
  padding: 120px 365px;
  text-align: center;
}
.features_section img {
  margin: 10px;
  max-width: 365px;
}
.features_section h4 {
  font-size: 10px;
  font-family: 'Raleway-Regular';
  font-weight: bolder;
  color: #2d3033;
  text-transform: uppercase;
}
.features_section p {
  font-size: 10px;
  font-family: 'Raleway-Regular';
  color: #66697e;
}
@media (max-width: 1400px) {
  .features_section {
    padding: 120px 180px;
  }
}
@media (max-width: 1100px) {
  .features_section {
    padding: 120px 50px;
  }
}
@media (max-width: 768px) {
  .features_section {
    padding: 50px 0px;
    margin: 0 20px;
  }
}
/*styles for galery section*/
.section_galery .redb {
  padding-top: 140px;
  display: none;
}
.section_galery p,
.section_galery h4 {
  display: none;
  text-align: center;
}
.section_galery .coloum {
  padding: 0;
  border: 1px solid #ffffff;
}
.section_galery .la {
  position: relative;
  display: block;
  height: 365px;
  width: 100%;
  text-decoration: none;
  margin: 0 auto;
}
.section_galery .la:hover .redb {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  display: block;
  background-color: rgba(231, 82, 79, 0.8);
  align-items: center;
  justify-content: center;
}
.section_galery .la:hover h4 {
  display: block;
  font-size: 1.5rem;
  font-family: 'Raleway-Regular', sans-serif;
  color: #f1f1f3;
  text-transform: uppercase;
}
.section_galery .la:hover p {
  display: block;
  font-size: 1.5rem;
  font-family: 'Raleway-Regular', sans-serif;
  color: #f1f1f3;
}
.section_galery .layer_one {
  background-image: url(../img/layer_one.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.section_galery .layer_two {
  display: block;
  background-image: url(../img/layer_two.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.section_galery .layer_three {
  display: block;
  background-image: url(../img/layer_three.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.section_galery .layer_four {
  display: block;
  background-image: url(../img/layer_four.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.section_galery .layer_five {
  display: block;
  background-image: url(../img/layer_five.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.section_galery .layer_six {
  display: block;
  background-image: url(../img/layer_six.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.section_galery .layer_seven {
  display: block;
  background-image: url(../img/layer_seven.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.section_galery .layer_eigth {
  display: block;
  background-image: url(../img/layer_eigth.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/*styles for team section*/
.team_section {
  margin: 100px 0;
  padding: 0 365px;
}
.team_section h5 {
  font-family: 'Raleway-Regular';
  font-size: 18px;
  font-weight: 600;
}
.team_section p {
  margin-right: 5px;
}
.team_section .te {
  padding: 0px;
  margin: 0px;
  text-align: start;
}
.team_section .te img {
  margin-bottom: 20px;
  height: 50%;
}
.team_section .te span {
  font-family: 'Raleway-Regular';
  color: #e84545;
  text-transform: uppercase;
  font-size: 10px;
}
.team_section .share img {
  height: 40px;
}
@media (max-width: 1750px) {
  .team_section {
    padding: 0 300px;
  }
}
@media (max-width: 1590px) {
  .team_section {
    padding: 0 250px;
  }
}
@media (max-width: 1490px) {
  .team_section {
    padding: 0 180px;
  }
}
@media (max-width: 1350px) {
  .team_section {
    padding: 0 150px;
  }
}
@media (max-width: 1290px) {
  .team_section {
    padding: 0 100px;
  }
}
@media (max-width: 1200px) {
  .team_section .te p {
    margin-right: 90px;
  }
}
@media (max-width: 600px) {
  .team_section {
    padding: 0 12px;
  }
  .team_section .te p {
    margin-right: 5px;
  }
}
/*slider test*/
.slider_section .slide_block {
  display: flex;
  justify-content: space-between;
}
.slider_section .text_slide {
  position: relative;
  display: block;
  color: #f1f1f3;
  width: 950px;
  padding: 90px 50px 50px;
  background-color: #53354a;
}
.slider_section .text_slide h5 {
  font-family: 'Cardo', sans-serif;
  font-style: italic;
  font-size: 2rem;
  font-weight: 400;
}
.slider_section .text_slide p {
  font-family: 'Raleway-Regular';
  font-size: 1.2rem;
}
@media (max-width: 1400px) {
  .slider_section .text_slide {
    height: 450px;
    max-width: 700px;
  }
}
@media (max-width: 1100px) {
  .slider_section .text_slide {
    height: 350px;
    max-width: 550px;
    padding: 35px;
  }
  .slider_section .text_slide h5 {
    font-size: 1.5rem;
  }
  .slider_section .text_slide p {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .slider_section .text_slide {
    height: 300px;
    max-width: 384px;
    padding: 20px;
  }
  .slider_section .text_slide h5 {
    font-size: 1.2rem;
  }
  .slider_section .text_slide p {
    font-size: 0.8rem;
  }
}
@media (max-width: 576px) {
  .slider_section .text_slide {
    height: 250px;
    max-width: 288px;
    padding: 25px 15px;
  }
  .slider_section .text_slide h5 {
    font-size: 0.8rem;
  }
  .slider_section .text_slide p {
    font-size: 0.5rem;
  }
}
@media (max-width: 400px) {
  .slider_section .text_slide {
    height: 200px;
    max-width: 200px;
  }
  .slider_section .text_slide h5 {
    font-size: 0.6rem;
  }
  .slider_section .text_slide p {
    font-size: 0.4rem;
  }
}
.slider_section img {
  height: 500px;
  max-width: 950px;
  margin: 0 auto;
}
@media (max-width: 1400px) {
  .slider_section img {
    height: 450px;
    max-width: 700px;
  }
}
@media (max-width: 1100px) {
  .slider_section img {
    height: 350px;
    max-width: 550px;
  }
}
@media (max-width: 768px) {
  .slider_section img {
    height: 300px;
    max-width: 384px;
  }
}
@media (max-width: 576px) {
  .slider_section img {
    height: 250px;
    max-width: 288px;
  }
}
@media (max-width: 400px) {
  .slider_section img {
    height: 200px;
    max-width: 200px;
  }
}
.slider_section .tap_index {
  border-radius: 50%;
  width: 12px;
  height: 10px;
}
.slider_section .indx {
  position: absolute;
  left: 50%;
}
/*styles for ready section*/
.ready_section {
  padding: 0 365px;
}
@media (max-width: 1400px) {
  .ready_section {
    padding: 0 180px;
  }
}
@media (max-width: 1100px) {
  .ready_section {
    padding: 0 50px;
  }
}
@media (max-width: 768px) {
  .ready_section {
    padding: 0 20px;
  }
}
.ready_text {
  padding: 156px 0;
  text-align: center;
}
.ready_text h2 {
  font-family: 'Raleway-Regular', sans-serif;
  font-weight: 300;
  font-size: 2.8rem;
  color: #444648;
  margin-bottom: 40px;
}
@media (max-width: 1400px) {
  .ready_text h2 {
    font-size: 3rem;
  }
}
@media (max-width: 1100px) {
  .ready_text h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  .ready_text h2 {
    font-size: 2rem;
  }
}
.ready_text p {
  font-family: 'Raleway-Regular', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #2d3033;
  margin-bottom: 80px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .ready_text p {
    font-size: 1rem;
  }
}
.ready_text .btn_find {
  height: 48px;
  width: 200px;
  color: #f1f1f3;
  background-color: #e84545;
  border-color: #e84545;
  text-transform: uppercase;
}
@media (max-width: 1400px) {
  .ready_text {
    padding: 180px 0;
  }
}
@media (max-width: 1100px) {
  .ready_text {
    padding: 100px 0;
  }
}
@media (max-width: 768px) {
  .ready_text {
    padding: 70px 0;
  }
}
.btn_find:active {
  background-color: #e84545;
  border-color: #e84545;
}
/*styles for contact section*/
.contact_section {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background-color: #3a3e64;
  padding: 70px 0;
}
.contact_section img {
  height: 40px;
}
.contact_section .contact {
  width: 30%;
  font-family: 'Open-Sans';
}
.contact_section .contact h5 {
  font-size: 15px;
  color: #f1f1f3;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.contact_section .contact p {
  font-size: 10px;
  color: #66697e;
}
.contact_section .contact a {
  text-decoration: none;
}
footer {
  padding: 30px 0;
  height: 96px;
  background-color: #313454;
  text-align: center;
}
footer p {
  font-family: 'Open-Sans';
  font-size: 10px;
  color: #66697e;
}
footer i {
  color: #e84545;
}
footer span {
  color: #ffffff;
}
